* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50px;
}

.timer {
  display: flex;
  gap: 10px;
}
.value {
  font-size: 30px;
  font-weight: bold;
}

.label {
  font-size: small;
}